/* Universal Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Styles */
html {
    height: 100%
}

body {
    position: relative;
    padding: 35px;
    height: 100%
}

h1 {
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 0;
    padding-bottom: 10px;
}

h2 {
    
    font-family: copperplate;
    font-size: 13px;
}

p {
    padding-top: 10px;
    font-size: 10px;
    color: #8C8B8B;
}

hr {
    margin: 22px 0 18px 0;
}

/* Class Styles */

.searchbar {
    border: 2px solid #e2e2e2;
    font-family: copperplate;
    font-size: 12px;
    width: 50vw;
    height: 25px;
    margin-bottom: 15px;
    margin-right: auto;
    border-radius: 7px;
   
}

.card {
    display: flex;
    border: solid 1px #e2e2e2;
    border-radius: 7px;
    height: 15vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    
}

.avatar {
    border-radius: 50%;
    margin: 0 10px;
    align-self: center;
    width: 75px;
    height: 74px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 325px;
    height: 52vh;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    padding: 30px 20px;
}

.modal .avatar {
    height: 100px;
    width: 100px;
}

.modal h2 {
    margin: 10px 0 5px 0;
}

.previous, .next {
    background: none;
    border: none;
    font-size: 30px;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.address {
    padding-top: 7px;
}

.email {
    padding-top: 7px;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
}